code.hljs {
  display: inline;
  white-space: normal;
  color: #c9d1d9 !important;
}

pre code.hljs {
  display: block;
  white-space: pre;
}

.hljs-keyword {
  color: #ff7b72 !important;
}

.hljs-attribute,
.hljs-built_in,
.hljs-selector-tag,
.hljs-title.function_ {
  color: #d2a8ff !important;
}

.hljs-number,
.hljs-literal {
  color: #79c0ff !important;
}

.hljs-string {
  color: #00e25a !important;
}

.hljs-title.function_ {
  font-style: italic !important;
}
